.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(
        135deg,
        #0d6efd,
        #6610f2
    );

}

.login-card{

    width:450px;
    left:34%;
    border:none;
    align-items:center;
    justify-content:center;

    border-radius:20px;

}

.login-icon{

    width:90px;

    height:90px;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#0d6efd;

    color:white;

    font-size:40px;

}

.form-control{

    height:50px;

    border-radius:10px;

}

.btn{

    border-radius:10px;

}

.demo-login{

    text-align:center;

    color:#666;
}

.demo-login p{

    margin-bottom:5px;
}